extends ./layout.jade

block content
	.middle.login-foorm
		h1 About Tipster
		br
		h5 Tipster is the platform on which you will find cool places in the cities you plan to visit! Hot spots, museums and concerts are recommended and reviewed by locals and previous visitors that will inspire you to discover even more. You can also recommend and review places you’ve seen and liked in order to convince others that it is worth going as well! 
		br
		h5 It’s all about exchanging expierences! Enjoy!
		br
		h5 PEACE OUT