extends ./layout.jade
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
			script.
				$(document).ready(function () {
					$('#submit').click(function(event) {
						if($('#title').val().trim().length === 0 || $('#body').val().trim().length === 0) {
							event.preventDefault();
							$('#error-message').html("No proper post is found!");

						}
					});
					$(':radio').change(
						function(){
					$('.choice').text( this.value + ' stars' );
					} 
					)
				});



		
		
block content
	.login-fooorm
		form(action='/addRecipe/addRecipe' method='post')
				.form-group
					input#title.fooorm-control(name='title' required placeholder='Title')
					br
				.form-group
					input#ingredients.foorm-control(name='ingredients' required placeholder='Ingredients')
					br
				.form-group
					input#body.foorm-control(name='body' required placeholder='recipe')
					br
					br
					br
					span.star-rating
						input(type='radio', name='rating', value='1')
						i
						input(type='radio', name='rating', value='2')
						i
						input(type='radio', name='rating', value='3')
						i
						input(type='radio', name='rating', value='4')
						i
						input(type='radio', name='rating', value='5')
						i
						br
				.form-group
					label(for='sel1') Select list:
						select(name="category")#sel1.form-control		
							each category in allCategories
								option(value="#{category.name}") #{category.name}
					
						
						br
						br
						br
						br
				button.log-btn(type='submit') Submit