extends ./layout.jade			

	

block content
	each recipe in categoryRecipes
			.col-md-3
				.recipe-form
					img(src='/images/breakfast.png')
					h3 #{recipe.title}

					if recipe.rating == 1
						h2.yellow ★
					if recipe.rating == 2
						h2.yellow ★★
					if recipe.rating == 3
						h2.yellow ★★★
					if recipe.rating == 4
						h2.yellow ★★★★
					if recipe.rating == 5
						h2.yellow ★★★★★
					br 
					a.cat-btn(href='/recipe/' + recipe.title) 
			
						|View
				
