extends ./layout.jade


block content
	each category in allCategories
		.middle
			.col-md-3
				.recipe-form
					img(src=category.img)
					br
					br
					a.cat-btn(href='category/' + category.name) #{category.name}


