extends ./layout.jade


block content
	.middle 
		h2

		.login-form
			h1 Welcome to DigiChef
			h3 Here you can easily store all your recipes online!
			br
			br
			h4 Log in to enjoy this app!

		

