script(src='javascripts/jquery.min.js')
script(src='javascripts/searchjs.js')


head
   style
    include ../public/stylesheets/style.css
    include ../assets/css/bootstrap.min.css
   script(src='javascripts/jquery.min.js')
   script(src='javascripts/searchjs.js')

   title= title

  body(data-spy='scroll', data-target='.navigation')
   block navbar
   

    section#section-header.main-nav
      .container
        .row
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          
             h1.logo DigiChef

          .navbar-collapse.collapse.navbar-main.navigation(role='navigation')
            ul.nav.navbar-nav.menu.navbar-right
              li.dropdown
                a.dropdown-toggle(href='/', data-toggle='dropdown')
                  | Home
                  i.fa.fa-caret-down
                
              li
                a(href='/login') Log In
              li
                a.scroll(href='/register') Register
              li
                a(href='/profile') Your Recipes
              li
                a(href='/addRecipe') Add Recipes
              li
                a(href='/categories') Categories
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | User
                  i.fa.fa-caret-down
                ul.dropdown-menu
                  li
                    a(href='/profile') Profile
                  li
                    a(href='/favorites') Favorites
                  li
                    a(href='/logout') Logout
              



    block content
      .contentblock

