extends ./layout.jade			

	

block content
	each recipe in usersRecipes
			.col-md-3
				.recipe-form
					img(src='...', alt='...')
					h3 #{recipe.title}

					p #{recipe.rating} ★'s
					br 
					a.btn.btn-primary(href='#', role='button') View
					a.btn.btn-default(href='#', role='button') Like
