extends ./layout.jade			

	

block content
	h2.title Your recipes;
	br

	each recipe in usersRecipes
			.col-md-3
				.recipe-form
					img(src='...', alt='...')
					h3 #{recipe.title}

					p #{recipe.rating} ★'s
					br 
					a.cat-btn(href='recipe/' + recipe.title) View
					
